<div class="jumbotron">
    <h1>Add a location</h1>      
</div>
<form ng-submit="save()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title" ng-model="title" required>
    </div>

    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" class="form-control" id="content" placeholder="Content" ng-model="content" required>
    </div>

    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="tags" placeholder="tag1, tag2..." ng-model="tags" required>
    </div>

    <div class="form-group">
        <label for="gps">GPS</label>
        <input type="text" class="form-control" id="gps" disabled  ng-model="gps" required>
    </div>

    <div class="form-group">
        <label for="file">File input</label>
        <input type="file" id="file" file-model="myFile" required>
    </div>

    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
</form>
