<div class="jumbotron">
    <h1>{{location.title}}</h1>      
    <p>{{location.content}}</p>
</div>
<div class="row">
        <div class="col-sm-8">
        <img class="img-thumbnail" ng-src="{{root}}uploads/{{location.images}}" alt="{{location.images}}">
    </div>
    <div class="col-sm-4">
        <table class="table">
            <tr>
                <th>ID</th>
                <td>{{location.id}}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{location.title}}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{location.content}}</td>
            </tr>
            <tr>
                <th>GPS</th>
                <td><kbd>{{location.gps}}</kbd></td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{location.date | DateFromMiliseonds}}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{location.images}}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{location.tags}}</td>
            </tr>
            <tr>
                <th>Update</th>
                <td>
                    <a href="#!/update/{{location.id}}" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Delete</th>
                <td>
                    <button ng-click="delete(location.id)" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>