<div class="jumbotron">
    <h1>Find the location</h1>      
    <div class="form-group">
        <input class="form-control input-lg" id="inputlg" placeholder="location name..." type="text" ng-model="myFilter.title">
    </div>
</div>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th class="pointer" ng-click="sort('id')"><span class="glyphicon glyphicon-sort"></span> ID</th>
        <th class="pointer" ng-click="sort('title')"><span class="glyphicon glyphicon-sort"></span> Title</th>
        <th class="pointer" ng-click="sort('content')"><span class="glyphicon glyphicon-sort"></span> Content</th>
        <th class="pointer" ng-click="sort('date')"><span class="glyphicon glyphicon-sort"></span> Date</th>
        <th>Image</th>
    </tr>
    </tr>
        <tr ng-repeat="location in locations | filter: myFilter | orderBy: sortBy:reverse">
                <td>{{location.id}}</td>
                <td>{{location.title}}</td><td>{{location.content}}</td>
                <td>{{location.date | DateFromMiliseonds}}</td>
                <td>
                    <a ng-click="changeUrl(myFilter.title)" href="#!/location/{{location.id}}">
                        <img class="img-thumbnail" style="width:200px;" ng-src="{{root}}uploads/{{location.images}}">
                    </a>
                </td>
        </tr>
</table>