<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!"><span class="glyphicon glyphicon-screenshot"></span> LocationsApp</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li ng-class="$ctrl.getClass('/all')"><a href="#!/all"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li ng-class="$ctrl.getClass('/add')"><a href="#!/add"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
        </ul>
    </div>
</nav>